[submodule "exports/2021-02-02/hugo-1612278031/doaramadhan/themes/hugo-future-imperfect-slim"]
	path = exports/2021-02-02/hugo-1612278031/doaramadhan/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
